
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="mb-20">
    <h3 class="opacity-40 font-weight-normal">Masuk Aplikasi Performance Appraisal</h3>
    <p class="opacity-40">Masukkan data diri Anda:</p>
</div>
@*@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form", @id = "kt_login_signin_form" }))*@
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form", @id = "kt_login_signin_form" }))
{
    <div class="form-group">
        <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="NIK" name="NIK" autocomplete="on" />
    </div>
    <div class="form-group">
        <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="password" placeholder="Password" name="Password" />
        <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
    </div>
    <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">
        <div class="checkbox-inline">
            <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                <input type="checkbox" name="remember" />
                <span></span>
                Remember me
            </label>
        </div>
        <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">Forgot Password ?</a>
    </div>
    <div class="form-group text-center mt-10">
        <button id="kt_login_signin_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3">Login</button>
    </div>
}
@*<div class="mt-10">
    <span class="opacity-40 mr-4">
        Belum memiliki akun?
    </span>
    <a href="javascript:;" id="kt_login_signup" class="text-white opacity-30 font-weight-normal">Registrasi Disini</a>
</div>*@